<!DOCTYPE html>
<html>
    <head>
        <title>WarpLink - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/core.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pricing.css') }}">
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fuckadblock/3.2.1/fuckadblock.min.js"></script>
    </head>
    <body>
      <div class="modal-window">
        <div class="modal-window-content text-center">
          <h4 class="modal-window-content-title text-center">Уважаемый пользователь!</h4>
          <p class="larger-font">Отключи, пожалуйста, блокировщик рекламы на этом сайте, автору нечем платить за хостинг. Просматривая рекламу на сайте, вы помогаете развиваться проекту.</p>
        </div>
      </div>
      <div class="all-content">
        <div class="nav-block">
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
                <h4 class="my-0 mr-md-auto font-weight-normal main underline-from-left"><a href="/" style="text-decoration: none; color: black;">WarpLink</a></h4>
                <nav class="my-2 my-md-0 mr-md-3">
                    {% block nav_elements %}
                    {% endblock %}
                </nav>
            </div>
        </div>

        {% block content %}
        {% endblock %}
        <br>
        <footer class="pt-4 my-md-5 pt-md-5 container">
            <div class="row">
                <div class="col-12 col-md">
                    <h5 class="text-center"><a href="https://www.tinkoff.ru/rm/golev.egor1/A5nRA58441/" style="color: black;">Поддержать проект</a></h5>
                    <figure class="fig text-center">
                      <img class="mb-2" src="{{ url_for('static', filename='img/favicon.png') }}" alt="" width="48" height="48">
                      <figcaption>© 2020</figcaption>
                    </figure>
                </div>
              </div>
        </footer>
      </div>
      <img id="ad-detect" class="ads banner" src="{{ url_for('static', filename='img/ad.png') }}" alt="This must be hidden" />
    </body>
</html>
