{% extends 'base.html' %}

{% block title %}
Сколько кликов было совершено
{% endblock %}

{% block nav_elements %}
    <a class="p-2 text-dark larger-font underline-from-left dev-nav nav-el" href="/dev/">DEV</a>
    <a class="p-2 text-dark larger-font underline-from-left about nav-el" href="/about-author/">Связь</a>
    <a class="p-2 text-dark larger-font underline-from-left mailing nav-el" href="/mailing/">Рассылка</a>
{% endblock %}


{% block content %}
<div class="container border-bottom">
    <br>
    <h1 class="text-center">Сколько кликов было совершено по <a href="{{ link }}">ссылке</a>?</h1>
    <h2 class="text-center">Ответ: {{ clicks }}</h2><br>
</div>
{% endblock %}
