{% extends 'base.html' %}

{% block title %}
Подписка успешна
{% endblock %}

{% block nav_elements %} 
    <a class="p-2 text-dark larger-font underline-from-left api-nav" href="/api/">API</a>
    <a class="p-2 text-dark larger-font underline-from-left about" href="/about/">Связь</a>
{% endblock %}

{% block content %}
<div class="container border-bottom">
	<div class="lead-block">
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="display-4">WarpLink</h1>
			<h2>Вы успешно подписались на рассылку!</h2>
        </div>
    </div>
</div>
{% endblock %}