{% extends 'base.html' %}


{% block title %}Неверная ссылка{% endblock %}

{% block nav_elements %}
	<a class="p-2 text-dark larger-font underline-hovering api-nav" href="/api/">API</a>
	<a class="p-2 text-dark larger-font underline-hovering about" href="/about/">Связь</a>
	<a class="p-2 text-dark larger-font underline-hovering mailing" href="/mailing/">Рассылка</a>
{% endblock %}

{% block content %}
<div class="container pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">WarpLink</h1>
	<h2 class="text-center">Такой ссылки на нашем сайте не существует</h2>
</div>
{% endblock %}