{% extends 'base.html' %}


{% block title %}Неверная ссылка{% endblock %}

{% block nav_elements %}
	<a class="p-2 text-dark larger-font underline-from-left api-nav nav-el" href="/api/">API</a>
	<a class="p-2 text-dark larger-font underline-from-left about nav-el" href="/about-author/">Связь</a>
	<a class="p-2 text-dark larger-font underline-from-left mailing nav-el" href="/mailing/">Рассылка</a>
{% endblock %}

{% block content %}
<div class="container pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center border-bottom">
	<h1 class="display-4">WarpLink</h1>
	<h2 class="text-center">Такой ссылки на нашем сайте не существует</h2>
</div>
{% endblock %}
